@model IEnumerable<AttendanceWebApp.Models.Course>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Courses";
}


<div class="view">
    <div class=" mt-5 pt-5 d-flex justify-content-center align-content-center">
        @Html.ActionLink("Create New", "CourseCreation")
    </div>
    <div class="container d-flex justify-content-center align-content-center">
        <table class="table table-bordered dataTables_length bs-select" id="dtBasicExample">
            <thead>
                <tr class="white-text">
                    <th>
                        @Html.DisplayNameFor(model => model.course_code)
                        <i class="ui-sortable-column-icon fa fa-fw fa-sort fa-sort-asc"></i>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.course_title)
                        <i class="ui-sortable-column-icon fa fa-fw fa-sort fa-sort-asc"></i>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.number_of_days)
                        <i class="ui-sortable-column-icon fa fa-fw fa-sort fa-sort-asc"></i>
                    </th>
                    <th class="white-text">Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="white-text">
                        <td>
                            @Html.DisplayFor(modelItem => item.course_code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.course_title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.number_of_days)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.courseID }, new { @style = "color:#ffffff" }) |
                            @Html.ActionLink("View Attendance", "Index", "Logs", new { id = item.courseID }, new { @style = "color:#ffffff" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.courseID }, new { @style = "color:#ffffff" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div>
        @Html.ActionLink("Back to Admin", "Index")
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}