@model IEnumerable<AttendanceWebApp.Models.Lecturer>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "StaffList";
}

<div class="view">
    <div class=" mt-5 pt-5 d-flex justify-content-center align-content-center">
        @Html.ActionLink("Create New", "StaffRegistration")
    </div>
    <div class="container d-flex justify-content-center align-content-center">
        <table class="table table-bordered dataTables_length bs-select" id="dtBasicExample">
            <thead>
                <tr class="white-text">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.lecturer_name)
                        <i class="ui-sortable-column-icon fa fa-fw fa-sort fa-sort-asc"></i>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.lecturer_email)
                        <i class="ui-sortable-column-icon fa fa-fw fa-sort fa-sort-asc"></i>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.lecturer_password)
                        <i class="ui-sortable-column-icon fa fa-fw fa-sort fa-sort-asc"></i>
                    </th>
                    <th class="white-text">Operations</th>
                </tr>
                </thead>
            <tbody>
                @foreach (var item in Model)
                 {
                    <tr class="text-white">
                        <td>
                            @Html.DisplayFor(modelItem => item.lecturer_name)
                        </td>
                        <td id="text">
                            @Html.DisplayFor(modelItem => item.lecturer_email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.lecturer_password)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.lecturerID }, new { @style = "color:#ffffff" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.lecturerID }, new { @style = "color:#ffffff" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.lecturerID }, new { @style = "color:#ffffff" })
                        </td>
                    </tr>
                 }
            </tbody> 
        </table>

    </div>
    <div>
        @Html.ActionLink("Back to Admin", "Index")
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}